;; -*- mode: emacs-lisp; coding: emacs-mule; -*-
;; --------------------------------------------------------------------------
;; Desktop File for Emacs
;; --------------------------------------------------------------------------
;; Created Thu Aug 30 20:33:33 2012
;; Desktop file format version 206
;; Emacs version 23.3.1

;; Global section:
(setq desktop-missing-file-warning nil)
(setq tags-file-name nil)
(setq tags-table-list nil)
(setq search-ring '("get_not_impl" "return_not" "is_authenticated" "is_authorized" "is_authenticated" "self.is_a" "is_authorized" "is_authenticated" "is_authen" "is_authe" "is_authenticated" "dispatch" "is_authen" "is_authori" "get_res" "get_reso"))
(setq regexp-search-ring nil)
(setq register-alist nil)
(setq file-name-history '("/home/gonecrazy/django-tastypie/tastypie/responses.py" "/home/gonecrazy/django-tastypie/tastypie/resources.py" "/home/gonecrazy/tasty/tasty/pie/models.py" "/home/gonecrazy/tasty/tasty/rboxapi/responses.py" "/home/gonecrazy/tasty/tasty/rboxapi/uris.py" "/home/gonecrazy/tasty/tasty/rboxapi/resources.py" "/home/gonecrazy/django-tastypie/tastypie/paginator.py" "/home/gonecrazy/django-tastypie/tastypie/responses.py" "/home/gonecrazy/django-tastypie/tastypie/resources.py"))

;; Buffer section -- buffers listed in same order as in buffer list:
(desktop-create-buffer 206
  "/home/gonecrazy/django-tastypie/tastypie/responses.py"
  "responses.py"
  'python-mode
  '(flymake-mode ropemacs-mode auto-complete-mode yas/minor-mode linum-mode outline-minor-mode)
  5384
  '(2939 nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/gonecrazy/django-tastypie/tastypie/resources.py"
  "resources.py"
  'python-mode
  '(flymake-mode ropemacs-mode auto-complete-mode yas/minor-mode linum-mode outline-minor-mode)
  17542
  '(1 nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/gonecrazy/django-tastypie/.git/config"
  "config"
  'conf-unix-mode
  '(linum-mode)
  38
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/gonecrazy/django-tastypie/tastypie/authentication.py"
  "authentication.py"
  'python-mode
  '(flymake-mode ropemacs-mode auto-complete-mode yas/minor-mode linum-mode outline-minor-mode)
  3386
  '(nil nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/gonecrazy/django-tastypie/tastypie/authorization.py"
  "authorization.py"
  'python-mode
  '(flymake-mode ropemacs-mode auto-complete-mode yas/minor-mode linum-mode outline-minor-mode)
  1
  '(nil nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/gonecrazy/django-tastypie/.gitignore"
  ".gitignore"
  'fundamental-mode
  '(linum-mode)
  29
  '(nil nil)
  nil
  nil
  '((buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/gonecrazy/tasty/tasty/pie/models.py"
  "models.py"
  'python-mode
  '(flymake-mode ropemacs-mode auto-complete-mode yas/minor-mode linum-mode outline-minor-mode)
  1
  '(1 nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/gonecrazy/tasty/tasty/rboxapi/resources.py"
  "resources.py<2>"
  'python-mode
  '(flymake-mode ropemacs-mode auto-complete-mode yas/minor-mode linum-mode outline-minor-mode)
  1
  '(340 nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/gonecrazy/tasty/tasty/rboxapi/responses.py"
  "responses.py<2>"
  'python-mode
  '(flymake-mode ropemacs-mode auto-complete-mode yas/minor-mode linum-mode outline-minor-mode)
  335
  '(49 nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/gonecrazy/tasty/tasty/rboxapi/uris.py"
  "uris.py"
  'python-mode
  '(flymake-mode ropemacs-mode auto-complete-mode yas/minor-mode linum-mode outline-minor-mode)
  787
  '(nil nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/gonecrazy/django-tastypie/tastypie/fields.py"
  "fields.py"
  'python-mode
  '(flymake-mode ropemacs-mode auto-complete-mode yas/minor-mode linum-mode outline-minor-mode)
  252
  '(218 nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . undecided-unix)))

(desktop-create-buffer 206
  "/home/gonecrazy/django-tastypie/tastypie/paginator.py"
  "paginator.py"
  'python-mode
  '(flymake-mode ropemacs-mode auto-complete-mode yas/minor-mode linum-mode outline-minor-mode)
  106
  '(nil nil)
  nil
  nil
  '((tab-width . 8) (indent-tabs-mode) (buffer-file-coding-system . undecided-unix)))

