Django==3.2.16
python-dateutil>=2.6.0
lxml
defusedxml
PyYAML
biplist

# Because the official 0.1.4 release (that added Py3 support) HAS NO FILES.
# mimeparse>=0.1.3
python-mimeparse>=0.1.4
six==1.16.0
